In [415]:
import requests
import json
import pandas as pd
from datetime import *
import re

# Create a Google places class for webscraping

In [2]:
class GooglePlaces(object):
    def __init__(self, apiKey):
        super(GooglePlaces, self).__init__()
        self.apiKey = apiKey

    def search_places(self,name,inputtype,point):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        params = {
            'input': name,
            'inputtype':inputtype,
            'locationbias':point,
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        results =  json.loads(res.content)
        return results
        
    def get_place_details(self, place_id,fields):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/details/json"
        params = {
            'placeid': place_id,
            'fields': ",".join(fields),
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        place_details =  json.loads(res.content)
        return place_details

##### Load the Vancouver Art facilities data

In [3]:
poi = pd.read_csv('/Users/yuxuancui/Desktop/MDS/data599/r5r/vancouver_facilities.csv')

In [4]:
poi_point=poi["Latitude"]+","+poi["Longitude"]

In [5]:
points="point"+":"+poi_point

In [6]:
poi_names=poi["Facility_Name"]

In [7]:
apiKey="AIzaSyA_O9wNiYYALLuROYMDBUkGTuyr0DlEzU0"

In [14]:
def get_pid(poi_name,apiKey,point):
    """
    get_pid funciton takes two arguments 
    1. names: The Art facilit names 
    2. Google APIkey
    will return a list of place_id
    """
    api = GooglePlaces(apiKey)
    pid=[]
    names=[]
    i=0
    for name in poi_name:
        places = api.search_places(name,"textquery",point[i])
        if places['candidates']!=[]:
            p_id=places['candidates'][0]["place_id"]
            pid.append(p_id)
            names.append(name)
            i=i+1
        else:
            pid.append(0)
            name="can not find"
            names.append(name)
            i=i+1
    df=pd.DataFrame()
    df["poi_name"]=poi_name
    df["names"]=names
    df["pid"]=pid
        
    return df

In [15]:
pid = get_pid(poi_names,apiKey,points)

In [13]:
api = GooglePlaces(apiKey)
api.search_places(poi_names[1],"textquery",points[199])

{'candidates': [{'place_id': 'ChIJpdEUnLBzhlQR0ome6cv5el8'}], 'status': 'OK'}

In [89]:
fields = ['name', 'formatted_address', 'rating','user_ratings_total','opening_hours/weekday_text']

In [104]:
def get_info(pid,fields):
    """
    get_info takes two argument 
    1. pid: place_id where can get it by using get_pid
    2. fields: properties that want to get 
    funciton will return a panda datafram with 4 columns, name, adress, rating and review
    """
    names=[]
    ratings=[]
    reviews_num=[]
    opening_hours=[]
    for id in pid:
        details= api.get_place_details(id,fields)
        if all (k in details['result'] for k in ('rating','user_ratings_total','opening_hours')):
            name=details['result']['name']
            rating=details['result']['rating']
            review_num = details['result']['user_ratings_total']
            opening_hour=details["result"]['opening_hours']['weekday_text']
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)

        elif 'rating' in details['result']:
            name=details['result']['name']
            rating=details['result']['rating']
            review=0
            n==0
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            opening_hours.append(opening_hour)
            reviews_num.append(n)
        elif 'user_ratings_total' in details['result']:
            name=details['result']['name']
            rating= "no data"
            review_num = details['result']['user_ratings_total']
            n=len(review)
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)


        else:
            name=details['result']['name']
            rating= "no data"
            review = 0
            n=0
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(n)
            opening_hours.append(opening_hour)



    df = pd.DataFrame()
    df["Name"]=names
    df["Rating"]=ratings
    df["Total_Review"]=reviews_num
    df["pid"]=pid
    df["opening_hours"]=opening_hours
    return df

In [105]:
pid_list=pid["pid"]
# remove 0s otherwise will result invalid request
pid_list=list(filter(lambda num: num != 0, pid_list)) 
result=get_info(pid_list,fields)

In [112]:
result

,Name,Rating,Total_Review,pid,opening_hours
0,39 Service Battalion (12 Company) Richmond,5,8,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,"[Monday: 9:30 AM – 4:00 PM, Tuesday: 9:30 AM –..."
1,15th Field Artillery Regiment (RCA),5,4,ChIJpdEUnLBzhlQR0ome6cv5el8,"[Monday: Closed, Tuesday: Closed, Wednesday: 7..."
2,ABC Preschool Academy,no data,0,ChIJF3ZMao7RhVQRYMRn09PBo34,0
3,Agassiz Library,5,8,ChIJNaGyI2sThFQRQ33H2ji42y4,"[Monday: Closed, Tuesday: 10:00 AM – 6:00 PM, ..."
4,Ponderosa Commons East (Audain Art Centre and ...,5,0,ChIJaUbtlrVyhlQREWwxkqr-Y9A,0
...,...,...,...,...,...
412,Woodward's 43,4.3,0,ChIJo8K5knlxhlQRBkyzjcK92Bg,0
413,Vancouver Island Regl Library - Woss Branch,5,1,ChIJlb5JzHEAY1QRgjcJ_n2Bbrk,"[Monday: Closed, Tuesday: 1:00 – 8:00 PM, Wedn..."
414,Yarrow Library,5,5,ChIJa5aUHc9HhFQRkikK61az_Lk,"[Monday: Closed, Tuesday: 10:00 AM – 5:00 PM, ..."
415,"York Theatre, The Cultch",4.5,0,ChIJQY5X1xVxhlQRXcRkTyGbCbs,0
416,Yuk Yuk's Comedy Club Vancouver,4.4,0,ChIJuycZ1-dzhlQRSZsBQvvwklo,0

In [97]:
#get_info(pid_list[1],fields)
details= api.get_place_details(pid_list[336],fields)

In [98]:
details["result"]['opening_hours']['weekday_text']

['Monday: Closed',
 'Tuesday: 1:00 – 4:00 PM, 5:00 – 7:00 PM',
 'Wednesday: 12:00 – 2:00 PM, 3:00 – 4:00 PM',
 'Thursday: 1:00 – 4:00 PM, 5:00 – 7:00 PM',
 'Friday: Closed',
 'Saturday: 11:00 AM – 3:00 PM',
 'Sunday: Closed']

Merge two dataset together which poi name will match the name in vancouver_facilities

In [138]:
#result.drop_duplicates().reset_index(drop=True)
#result.loc[result.astype(str).drop_duplicates().index]

In [125]:
merged=pid.merge(result, on='pid', how='left')

In [132]:
merged

,poi_name,Name,pid,Rating,Total_Review,opening_hours
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,"[Monday: 9:30 AM – 4:00 PM, Tuesday: 9:30 AM –..."
1,15th Field Artillery Regiment Museum And Archives,15th Field Artillery Regiment (RCA),ChIJpdEUnLBzhlQR0ome6cv5el8,5,4.0,"[Monday: Closed, Tuesday: Closed, Wednesday: 7..."
2,221A Artist Run Centre,NaN,0,NaN,NaN,NaN
3,7302754 Canada Inc,NaN,0,NaN,NaN,NaN
4,Abc Heritage Preschool And Child Care,ABC Preschool Academy,ChIJF3ZMao7RhVQRYMRn09PBo34,no data,0.0,0
...,...,...,...,...,...,...
526,Woss Branch,Vancouver Island Regl Library - Woss Branch,ChIJlb5JzHEAY1QRgjcJ_n2Bbrk,5,1.0,"[Monday: Closed, Tuesday: 1:00 – 8:00 PM, Wedn..."
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,"[Monday: Closed, Tuesday: 10:00 AM – 5:00 PM, ..."
528,York Theatre,"York Theatre, The Cultch",ChIJQY5X1xVxhlQRXcRkTyGbCbs,4.5,0.0,0
529,Yuk Yuk's Comedy Club,Yuk Yuk's Comedy Club Vancouver,ChIJuycZ1-dzhlQRSZsBQvvwklo,4.4,0.0,0
530,Zemi Cultural Heritage Services,NaN,0,NaN,NaN,NaN

In [130]:
merged=merged[["poi_name","Name","pid","Rating","Total_Review","opening_hours"]]

In [141]:
merged.loc[merged.astype(str).drop_duplicates().index]

,poi_name,Name,pid,Rating,Total_Review,opening_hours
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,"[Monday: 9:30 AM – 4:00 PM, Tuesday: 9:30 AM –..."
1,15th Field Artillery Regiment Museum And Archives,15th Field Artillery Regiment (RCA),ChIJpdEUnLBzhlQR0ome6cv5el8,5,4.0,"[Monday: Closed, Tuesday: Closed, Wednesday: 7..."
2,221A Artist Run Centre,NaN,0,NaN,NaN,NaN
3,7302754 Canada Inc,NaN,0,NaN,NaN,NaN
4,Abc Heritage Preschool And Child Care,ABC Preschool Academy,ChIJF3ZMao7RhVQRYMRn09PBo34,no data,0.0,0
...,...,...,...,...,...,...
526,Woss Branch,Vancouver Island Regl Library - Woss Branch,ChIJlb5JzHEAY1QRgjcJ_n2Bbrk,5,1.0,"[Monday: Closed, Tuesday: 1:00 – 8:00 PM, Wedn..."
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,"[Monday: Closed, Tuesday: 10:00 AM – 5:00 PM, ..."
528,York Theatre,"York Theatre, The Cultch",ChIJQY5X1xVxhlQRXcRkTyGbCbs,4.5,0.0,0
529,Yuk Yuk's Comedy Club,Yuk Yuk's Comedy Club Vancouver,ChIJuycZ1-dzhlQRSZsBQvvwklo,4.4,0.0,0
530,Zemi Cultural Heritage Services,NaN,0,NaN,NaN,NaN

In [487]:
merged.to_csv("/Users/yuxuancui/Desktop/MDS/data599/google-reviews-arts/google_reviews_poi.csv",index=False)

In [738]:
df=merged.explode('opening_hours')

In [494]:
#df["opening_hours"]=df.opening_hours.str.replace(' ', '')

,poi_name,Name,pid,Rating,Total_Review,opening_hours
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Monday: 9:30 AM – 4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Tuesday: 9:30 AM – 4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,"Wednesday: 9:30 AM – 4:00 PM, 7:00 – 10:00 PM"
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Thursday: 9:30 AM – 4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Friday: 9:30 AM – 4:00 PM
...,...,...,...,...,...,...
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,Saturday: 10:00 AM – 2:00 PM
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,Sunday: Closed
528,York Theatre,"York Theatre, The Cultch",ChIJQY5X1xVxhlQRXcRkTyGbCbs,4.5,0.0,0
529,Yuk Yuk's Comedy Club,Yuk Yuk's Comedy Club Vancouver,ChIJuycZ1-dzhlQRSZsBQvvwklo,4.4,0.0,0
530,Zemi Cultural Heritage Services,NaN,0,NaN,NaN,NaN

In [739]:
df[["Day","Hours"]]=df['opening_hours'].str.split(':', 1, expand=True)

In [740]:
df[["Hour_1","Hour_2","Hour_3"]]=df['Hours'].str.split(',', 2, expand=True)

In [741]:
df[["Hour_1_1","Hour_1_2"]]=df['Hour_1'].str.split(' – ', 2, expand=True)

In [742]:
df=df.reset_index(drop=True)

In [770]:
df.head()

,poi_name,Name,pid,Rating,Total_Review,opening_hours,Day,Hours,Hour_1,Hour_2,Hour_3,Hour_1_1,Hour_1_2,Total_Hour_1,Hour_2_1,Hour_2_2,Total_Hour_2,Hour_3_1,Hour_3_2
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Monday: 9:30 AM – 4:00 PM,Monday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,2021-05-20 09:30:00,2021-05-20 16:00:00,6.5,NaT,NaT,NaT,NaT,NaT
1,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Tuesday: 9:30 AM – 4:00 PM,Tuesday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,2021-05-20 09:30:00,2021-05-20 16:00:00,6.5,NaT,NaT,NaT,NaT,NaT
2,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,"Wednesday: 9:30 AM – 4:00 PM, 7:00 – 10:00 PM",Wednesday,"9:30 AM – 4:00 PM, 7:00 – 10:00 PM",9:30 AM – 4:00 PM,7:00 – 10:00 PM,None,2021-05-20 09:30:00,2021-05-20 16:00:00,6.5,2021-05-20 19:00:00,2021-05-20 22:00:00,3.0,NaT,NaT
3,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Thursday: 9:30 AM – 4:00 PM,Thursday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,2021-05-20 09:30:00,2021-05-20 16:00:00,6.5,NaT,NaT,NaT,NaT,NaT
4,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Friday: 9:30 AM – 4:00 PM,Friday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,2021-05-20 09:30:00,2021-05-20 16:00:00,6.5,NaT,NaT,NaT,NaT,NaT

In [699]:
df.Hour_1_1.str.replace("AM", "")

print(pd.to_datetime("9:30"))

2021-05-20 09:30:00

In [744]:
df.Hour_1_1=df.Hour_1_1.str.replace("AM", "").str.lstrip()

In [745]:
df.Hour_1_1=pd.to_datetime(df[~df.Hour_1_1.str.contains("Closed", na=False)].Hour_1_1,errors='coerce')

In [746]:
L1=df[df.Hour_1_2.str.contains("AM", na=False)].index.tolist()
L2=df[df.Hour_1_2.str.contains("PM", na=False)].index.tolist()
df.iloc[L2, 12]=pd.to_datetime(df.iloc[L2, 12])
df.iloc[L1, 12]=pd.to_datetime(df.iloc[L1, 12])

In [747]:
Total_hour_1=[]
for i in range(len(df.Hour_1_1)):
    if (type(df.Hour_1_1[i]) is pd.Timestamp) & (type(df.Hour_1_2[i]) is pd.Timestamp):
        dif=df.Hour_1_1[i]-df.Hour_1_2[i]
        Total_hour_1.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_1.append(df.iloc[i, 11])

df["Total_Hour_1"]=Total_hour_1

In [748]:
# clean for Hour_2
df[["Hour_2_1","Hour_2_2"]]=df['Hour_2'].str.split(' – ', 2, expand=True)

In [749]:
df.Hour_2_1=df.Hour_2_1.str.replace("PM", "").str.lstrip()

In [750]:
df.Hour_2_1=df[df.Hour_2_1.str.contains(r'\b\d+\b', na=False)].Hour_2_1+" "+"PM"

In [751]:
df.Hour_2_1=pd.to_datetime(df[df.Hour_2_1.str.contains(r'\b\d+\b', na=False)].Hour_2_1,errors='coerce')

In [754]:
df.Hour_2_2=pd.to_datetime(df[df.Hour_2_2.str.contains(r'\b\d+\b', na=False)].Hour_2_2,errors='coerce')

In [760]:
Total_hour_2=[]
for i in range(len(df.Hour_2_1)):
    if (type(df.Hour_2_1[i]) is pd.Timestamp) & (type(df.Hour_2_2[i]) is pd.Timestamp):
        dif=df.Hour_2_1[i]-df.Hour_2_2[i]
        Total_hour_2.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_2.append(df.iloc[i, 14])

df["Total_Hour_2"]=Total_hour_2

In [764]:

# clean for Hour_3
df[["Hour_3_1","Hour_3_2"]]=df['Hour_3'].str.split(' – ', 2, expand=True)

In [767]:
df.Hour_3_1=df[df.Hour_3_1.str.contains(r'\b\d+\b', na=False)].Hour_3_1+" "+"PM"

In [769]:
df.Hour_3_1=pd.to_datetime(df[df.Hour_3_1.str.contains(r'\b\d+\b', na=False)].Hour_3_1,errors='coerce')

In [768]:
df.Hour_3_2=pd.to_datetime(df[df.Hour_3_2.str.contains(r'\b\d+\b', na=False)].Hour_3_2,errors='coerce')

In [771]:
Total_hour_3=[]
for i in range(len(df.Hour_3_1)):
    if (type(df.Hour_3_1[i]) is pd.Timestamp) & (type(df.Hour_3_2[i]) is pd.Timestamp):
        dif=df.Hour_3_1[i]-df.Hour_3_2[i]
        Total_hour_3.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_3.append(df.iloc[i, 17])

df["Total_Hour_3"]=Total_hour_3

In [783]:
df["Total_Hour_1"].fillna(0,inplace=True)
df["Total_Hour_2"].fillna(0,inplace=True)
df["Total_Hour_3"].fillna(0,inplace=True)

In [785]:
df["Total_hours"]=df["Total_Hour_1"]+df["Total_Hour_2"]+df["Total_Hour_3"]

In [794]:
df.groupby('poi_name')["name"].agg([('Total_hours','sum')])

KeyError: 'Column not found: name'

In [317]:
m2 = '9:30 PM'
datetime.strptime(m2, '%I:%M %p')
#df["Hour_1_1"].apply(lambda x: x.datetime.strptime(x, '%I:%M %p'))

datetime.datetime(1900, 1, 1, 21, 30)

In [380]:
df["Hours"].str.split("–")

0                        [ 9:30 AM ,  4:00 PM]
0                        [ 9:30 AM ,  4:00 PM]
0      [ 9:30 AM ,  4:00 PM, 7:00 ,  10:00 PM]
0                        [ 9:30 AM ,  4:00 PM]
0                        [ 9:30 AM ,  4:00 PM]
                        ...
527                     [ 10:00 AM ,  2:00 PM]
527                                  [ Closed]
528                                        NaN
529                                        NaN
530                                        NaN
Name: Hours, Length: 2571, dtype: object

In [392]:
time=[]

Time_1=df["Hour_1"].str.split('–', 1, expand=True)

In [394]:
Time_1

              0         1
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
..          ...       ...
527   10:00 AM    2:00 PM
527      Closed      None
528         NaN       NaN
529         NaN       NaN
530         NaN       NaN

[2571 rows x 2 columns]

In [398]:
time=[]
for i in Time_1[0]:
    i=i.strip()
    if i=="Closed":
        time.append(i)
    elif i=="NaN" or i==None:
        time.append(i)
    else:
        j=datetime.strptime(i, '%I:%M %p')
        time.append(j)

ValueError: time data '7:00' does not match format '%I:%M %p'

In [297]:
df["Hour_1_1"].astype(str)

0       4:00 PM
0       4:00 PM
0       4:00 PM
0       4:00 PM
0       4:00 PM
         ...
527     2:00 PM
527        None
528         nan
529         nan
530         nan
Name: Hour_1_1, Length: 2571, dtype: object

In [383]:
df["Hour_1"].str.split('–', 1, expand=True)

              0         1
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
0      9:30 AM    4:00 PM
..          ...       ...
527   10:00 AM    2:00 PM
527      Closed      None
528         NaN       NaN
529         NaN       NaN
530         NaN       NaN

[2571 rows x 2 columns]

In [279]:

df[["Hour_1_0","Hour_1_1"]]=df["Hour_1"].str.split(' –',expand=True)

In [280]:
df

,poi_name,Name,pid,Rating,Total_Review,opening_hours,Day,Hours,Hour_1,Hour_2,Hour_3,Hour_1_0,Hour_1_1
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Monday: 9:30 AM – 4:00 PM,Monday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,9:30 AM,4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Tuesday: 9:30 AM – 4:00 PM,Tuesday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,9:30 AM,4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,"Wednesday: 9:30 AM – 4:00 PM, 7:00 – 10:00 PM",Wednesday,"9:30 AM – 4:00 PM, 7:00 – 10:00 PM",9:30 AM – 4:00 PM,7:00 – 10:00 PM,None,9:30 AM,4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Thursday: 9:30 AM – 4:00 PM,Thursday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,9:30 AM,4:00 PM
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,5,8.0,Friday: 9:30 AM – 4:00 PM,Friday,9:30 AM – 4:00 PM,9:30 AM – 4:00 PM,None,None,9:30 AM,4:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,Saturday: 10:00 AM – 2:00 PM,Saturday,10:00 AM – 2:00 PM,10:00 AM – 2:00 PM,None,None,10:00 AM,2:00 PM
527,Yarrow Library,Yarrow Library,ChIJa5aUHc9HhFQRkikK61az_Lk,5,5.0,Sunday: Closed,Sunday,Closed,Closed,None,None,Closed,None
528,York Theatre,"York Theatre, The Cultch",ChIJQY5X1xVxhlQRXcRkTyGbCbs,4.5,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,Yuk Yuk's Comedy Club,Yuk Yuk's Comedy Club Vancouver,ChIJuycZ1-dzhlQRSZsBQvvwklo,4.4,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,Zemi Cultural Heritage Services,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
9:30 AM -

                       0                   l;                    l
0      9:30 AM – 4:00 PM    9:30 AM – 4:00 PM    9:30 AM – 4:00 PM
0      9:30 AM – 4:00 PM    9:30 AM – 4:00 PM    9:30 AM – 4:00 PM
0      9:30 AM – 4:00 PM    9:30 AM – 4:00 PM    9:30 AM – 4:00 PM
0      9:30 AM – 4:00 PM    9:30 AM – 4:00 PM    9:30 AM – 4:00 PM
0      9:30 AM – 4:00 PM    9:30 AM – 4:00 PM    9:30 AM – 4:00 PM
..                   ...                  ...                  ...
527   10:00 AM – 2:00 PM   10:00 AM – 2:00 PM   10:00 AM – 2:00 PM
527               Closed               Closed               Closed
528                  NaN                  NaN                  nan
529                  NaN                  NaN                  nan
530                  NaN                  NaN                  nan

[2571 rows x 3 columns]

In [198]:
print(m2)

1900-01-01 09:30:00